# virtual machine crash logs
hs_err_pid*

# maven target directories
target/
pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup

# IDE files
.project
.classpath
.settings
.idea
.vscode
*.ipr
*.iml
*.iws
nb-configuration.xml
.vscode/

.factorypath
