@font-face {
    font-family: 'fontawesomeselection';
    src: url('../font/fontawesomeselection.eot?8658514');
    src: url('../font/fontawesomeselection.eot?8658514#iefix') format('embedded-opentype'),
    url('../font/fontawesomeselection.woff?8658514') format('woff'),
    url('../font/fontawesomeselection.ttf?8658514') format('truetype'),
    url('../font/fontawesomeselection.svg?8658514#fontawesomeselection') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    text-align: justify;
}

.toc-sidebar {
    text-align: left;
}

.icon:before {
    font-family: "fontawesomeselection";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-size: 20pt;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

td.icon > div.title {
    display: none;
}

div.note td.icon:before {
    content: "\e800";
}

div.important td.icon:before {
    content: "\e802";
}

div.caution td.icon:before {
    content: "\e803";
}

div.warning td.icon:before {
    content: "\e804";
}

div.tip td.icon:before {
    content: "\e806";
}
